
	html, body, blockquote, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, fieldset, input, textarea {
		margin: 0; padding: 0;
		outline: none;
	}
	ul, ol, li {
		list-style-type: none;
	}
	/* HTML5 tags */
	header, section, figure, figcaption, article, nav, aside, footer, time {
		margin: 0; padding: 0;
		display: block;
		outline: none;
	}

	html, body { height: 100%; background: #FCFCFC; }

	#container {
		position: relative;
		overflow: hidden;
		min-height: 100%;
		width: 100%;
	}

	#header {
		border-bottom: 1px solid #eaeaea;
		background: #ffffff;
		position: relative;
		width: 100%;
		z-index: 5;
	}
	#centered {
		padding: 2.58vw 0 2.66vw 0;
		position: relative;
		width: 92.80vw;
		margin: 0 auto;
		z-index: 5;
	}
	#header h1 { font-size: 0; }
	#header h1 a {
		background: url( '../images/logo-full.png' ) no-repeat 0 1px;
		width: 211px; height: 37px;
		text-decoration: none;
		display: inline-block;
		text-indent: -2000px;
		padding-top: 1px;
		overflow: hidden;
	}
	#menu {
		position: absolute;
		text-align: right;
		bottom: -1px;
		z-index: 6;
		right: 0;
	}
	#menu li {
		border-bottom: 1px solid transparent;
		padding-bottom: 3.30vw;
		display: inline-block;
		margin-left: 3.59vw;
	}
	#menu a {
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		font-weight: 700;
		font-size: 14px;
		color: #000000;
	}

	#menu #active { border-bottom: 1px solid #F52C3E; }

	#header:after {
		width: 100%; height: 30px;
		bottom: -31px; left: 0;
		background: #fcfcfc;
		position: absolute;
		display: none;
		content: '';
		z-index: 999;
	}

	#content {
		position: relative;
		width: 100%;
	}

	#info-contaier {
		top: 0px; left: 5.75vw;
		pointer-events: none;
		position: absolute;
		z-index: 5;
	}

	#back-to-map {
		background: url( '../images/back.png' ) no-repeat 0 1px;
		font-family: 'Open Sans', sans-serif;
		margin: 16px 0 17px 0;
		text-decoration: none;
		display: inline-block;
		visibility: hidden;
		padding-left: 24px;
		line-height: 18px;
		font-weight: 700;
		font-size: 13px;
		color: #737373;
		height: 18px;
	}
	#back-to-map:hover {
		background-position: 0 -17px;
		color: #000000;
	}

	#textMeasure {
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		display: inline-block;
		position: absolute;
		font-weight: 200;
		font-size: 21px;
		left: -1000px;
		top: -1000px;
	}

	#population:before, #st-name:before {
		background: url( '../images/red-fade.png' ) repeat-y;
		width: 30px; height: 100%;
		position: absolute;
		right: 0; top: 0;
		display: block;
		content: '';
	}

	#population, #st-name {
		-webkit-transition: width .5s;
		transition: width .5s;
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		padding-right: 30px;
		position: relative;
		overflow: hidden;
		text-align: left;
	}

	#s-img, #s-name, #s-population {
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		vertical-align: middle;
		display: inline-block;
		background: #F52C3E;
		text-align: center;
		line-height: 50px;
		overflow: hidden;
		font-weight: 400;
		font-size: 21px;
		color: #ffffff;
		height: 50px;
	}
	#s-img {
		width: 0px; height: 101px;
		line-height: 101px;
		margin-right: 1px;
		overflow: hidden;
		text-align: left;
		float: left;

		-webkit-transition: width .3s  ease-out;
		transition: width .3s  ease-out;
	}
	#s-img img {
		-webkit-transition: opacity 7s ease-out;
		transition: opacity .7s ease-out;
		vertical-align: middle;
		margin-left: 20px;
		opacity: 0;
	}
	#state-params { float: left; }
	#s-name { margin-bottom: 1px; }
	#s-name, #s-population {
		padding: 0 0 0 30px;
		float: left;
		clear: both;
	}
	#stats-parent { clear: both; display: none; pointer-events: all; cursor: default; }
	#stats {
		padding-left: 132px;
		padding-top: 45px;
	}
	#stats dt {
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 12px;
		color: #999999;
	}
	#stats dd {
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
		font-size: 21px;
		color: #F42C3E;

		-webkit-transform: translateY( -55px );
		-moz-transform: translateY( -55px );
		transform: translateY( -55px );
	}
	#state-influence {
		right: 5.75vw; top: 50px;
		position: absolute;
		width: 296px;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#state-influence h3 {
		font-family: 'Dosis', sans-serif;
		text-transform: lowercase;
		margin-bottom: 24px;
		text-align: center;
		font-weight: 600;
		font-size: 21px;
		color: #F52C3E;
	}
	#state-influence h4 {
		font-family: 'Dosis', sans-serif;
		margin-bottom: 4px;
		font-weight: 500;
		font-size: 16px;
		color: #666666;
	}
	#incoming, #outgoing {
		width: 118px;
		float: left;
	}
	#state-abbr {
		float: left;
		width: 60px;
	}
	#incoming { text-align: right; }
	#separator {
		height: 10px; width: 1px;
		display: inline-block;
		background: #cccccc;
		margin-bottom: 8px;
		margin-left: 29px;
		margin-top: 6px;
	}
	#state-influence span {
		background: #F52C3E;
		margin-top: 32px;
		display: block;
		height: 8px;
	}
	#incoming span { float: right; clear: both; }
	#outgoing span { float: left; clear: both; }
	#state-abbr a {
		font-family: 'Dosis', sans-serif;
		text-decoration: none;
		background: #fcfcfc;
		padding-left: 21px;
		line-height: 16px;
		margin-top: 24px;
		font-weight: 600;
		font-size: 16px;
		color: #666666;
		height: 16px;
		display: block;
		cursor: alias;
	}

	#diagram-container {
		bottom: 0; left: 0;
		position: absolute;
		width: 100%;
		z-index: 5;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#metrics {
		border-right: 1px solid #EAEAEA;
		left: 0; bottom: 90px;
		background: #fcfcfc;
		position: absolute;
		padding-left: 5.75vw;
		width: 29px;
		z-index: 5;
	}
	#metrics h3 {
		font-family: 'Dosis', sans-serif;
		width: 69px; height: 29px;
		text-transform: lowercase;
		bottom: -29px; left: 0;
		display: inline-block;
		margin-bottom: 20px;
		white-space: nowrap;
		position: absolute;
		line-height: 29px;
		font-weight: 700;
		font-size: 16px;
		cursor: default;
		color: #aaa;

		display: none;

		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		transform-origin: 0 0;

		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	#level-labels {
		background: #fcfcfc url( '../images/dotted-border.png' ) no-repeat left top;
		position: relative;
		line-height: 20px;
		padding-top: 1px;
		height: 200px;
		font-size: 0;
		z-index: 5;

		-webkit-transition: line-height .3s  ease-out, height .3s  ease-out;
		transition: line-height .3s  ease-out, height .3s  ease-out;
	}
	#level-labels li {
		background: url( '../images/dotted-border.png' ) no-repeat left bottom;
		font-family: 'Open Sans', sans-serif;
		width: 29px; height: 10%;
		display: inline-block;
		vertical-align: top;
		line-height: inherit;
		text-align: center;
		font-weight: 400;
		font-size: 11px;
		cursor: default;
		color: #757575;
	}
	#level-labels #lvl1 {
		background: none;
	}

	#data-legend {
		padding: 17px 0 3px 0;
		background: #fcfcfc;
		position: relative;
		cursor: default;
		width: 90px;
	}
	#data-legend li {
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 15px;
		position: relative;
		padding-left: 20px;
		font-weight: 400;
		font-size: 11px;
		color: #747474;
	}
	#data-legend li:before {
		width: 10px; height: 10px;
		background: #2E91F5;
		position: absolute;
		left: 0; top: 3px;
		display: block;
		content: '';
	}
	#data-legend #cdc-square:before {
		background: #F52C3E;
	}

	#indicator {
		width: 45px; height: 200px;
		left: 5.75vw; bottom: 0;
		margin-left: 30px;
		padding: 1px 0 0 15px;
		background: #fcfcfc;
		position: absolute;
		z-index: 4;

		-webkit-transition: height .3s  ease-out;
		transition: height .3s  ease-out;
	}
	#indi-in {
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
	}
	#indicator:before { display: none; }
	#indicator span {
		width: 19px; height: 19px;
		margin: 1px 1px 2px 1px;
		position: absolute;
		display: block;
		left: 14px;

		-webkit-transition: width .3s;
		transition: width .3s;
	}

	#indicator.tw #indi-10 { background: #F52C3E; }
	#indicator.tw #indi-9 { background: #F5513A; }
	#indicator.tw #indi-8 { background: #F57537; }
	#indicator.tw #indi-7 { background: #F59A33; }
	#indicator.tw #indi-6 { background: #F5BE30; }
	#indicator.tw #indi-5 { background: #CDE732; }
	#indicator.tw #indi-4 { background: #A5EA39; }
	#indicator.tw #indi-3 { background: #7CEE3F; }
	#indicator.tw #indi-2 { background: #54F146; }
	#indicator.tw #indi-1 { background: #2CF54C; }

	#indi-10 { background: #F52C3E; bottom: 178px; }
	#indi-9 { background: #F64151; bottom: 158px; }
	#indi-8 { background: #F75665; bottom: 138px; }
	#indi-7 { background: #F86B78; bottom: 118px; }
	#indi-6 { background: #F9808B; bottom: 98px; }
	#indi-5 { background: #FA959E; bottom: 78px; }
	#indi-4 { background: #FBABB2; bottom: 58px; }
	#indi-3 { background: #FCBFC5; bottom: 38px; }
	#indi-2 { background: #FDD5D8; bottom: 18px; }
	#indi-1 { background: #FEE9EB; bottom: -2px; }

	#indicator.indi-1 #indi-1,
	#indicator.indi-2 #indi-2,
	#indicator.indi-3 #indi-3,
	#indicator.indi-4 #indi-4,
	#indicator.indi-5 #indi-5,
	#indicator.indi-6 #indi-6,
	#indicator.indi-7 #indi-7,
	#indicator.indi-8 #indi-8,
	#indicator.indi-9 #indi-9,
	#indicator.indi-10 #indi-10 {
		width: 31px;
	}

	#blocks-container {
		cursor: url( '../images/grab.cur' ), auto;
		overflow: hidden;
	}

	#timeline {
		background: #ffffff url( '../images/divider.png' ) repeat-x 0px 20px;
		border-top: 1px solid #e3e3e3;
		display: inline-block;
		padding-bottom: 20px;
		white-space: nowrap;
		padding-top: 18px;
		font-size: 0;
		height: 50px;

		position: relative;
		z-index: 2;
	}
	#blocks {
		white-space: nowrap;
		height: 100%;
		font-size: 0;

		-webkit-transform: translateY(100%);
		transform: translateY(100%);

		-webkit-transition: -webkit-transform .3s  ease-out;
		transition: transform .3s ease-out;
	}
	#timeline div.month {
		border-left: 1px solid #eaeaea;
		display: inline-block;
		position: relative;
		height: 50px;
	}
	#timeline div.w4 { width: 119px; }
	#timeline div.w5 { width: 149px; }
	#timeline div.month:before {
		border: 1px solid #F52C3E;
		width: 3px; height: 3px;
		background: #ffffff;
		top: 0; left: -3px;
		position: absolute;
		display: block;
		content: '';
	}
	#timeline time {
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		bottom: 0; left: 6px;
		position: absolute;
		line-height: 15px;
		font-weight: 200;
		font-size: 15px;
		color: #757575;
	}
	#timeline time em {
		font-style: normal;
		font-weight: 700;
		color: #aaa;
	}

	#blocks div.bar {
		background: url( '../images/level-squares.png' ) repeat-x bottom left;
		border-left: 1px solid #ffffff;
		width: 29px; height: 100%;
		vertical-align: bottom;
		display: inline-block;
	}
	#blocks div.spacer {
		display: inline-block;
		height: 100%;
	}

	#blocks div.v1 { height: 30px; }
	#blocks div.v2 { height: 60px; }
	#blocks div.v3 { height: 90px; }
	#blocks div.v4 { height: 120px; }
	#blocks div.v5 { height: 150px; }
	#blocks div.v6 { height: 180px; }
	#blocks div.v7 { height: 210px; }
	#blocks div.v8 { height: 240px; }
	#blocks div.v9 { height: 270px; }
	#blocks div.v10 { height: 300px; }

	#flag-container {
		left: 50%; bottom: 53px;
		pointer-events: none;
		margin-left: -260px;
		position: fixed;
		width: 500px;
		z-index: 5;
	}
	#point {
		width: 13px; height: 13px;
		bottom: 0; left: 50%;
		background: #F52C3E;
		position: absolute;
		margin-left: -6px;
	}
	#date-point {
		font-family: 'Dosis', sans-serif;
		width: 90px; height: 90px;
		left: 50%; bottom: 53px;
		background: #F52C3E;
		position: absolute;
		margin-left: -45px;
		text-align: center;
		overflow: hidden;
		cursor: default;
		color: #ffffff;
		font-size: 0;
		z-index: 5;

		border-radius: 55px;
		-webkit-border-radius: 55px;
		-moz-border-radius: 55px;

		-webkit-transition: width .3s ease-out, margin-left .3s ease-out, bottom .3s ease-out;
		transition: width .3s ease-out, margin-left .3s ease-out, bottom .3s ease-out;

		-webkit-box-shadow: -15px 37px 106px -36px rgba(0,0,0,0.75);
		-moz-box-shadow: -15px 37px 106px -36px rgba(0,0,0,0.75);
		box-shadow: -15px 37px 106px -36px rgba(0,0,0,0.75);
	}

	#date-day {
		-webkit-transition: width .3s ease-out, font-size .3s ease-out, margin-top .3s ease-out, margin-right .3s ease-out;
		transition: width .3s ease-out, font-size .3s ease-out, margin-top .3s ease-out, margin-right .3s ease-out;

		display: inline-block;
		text-align: center;
		margin-right: 0px;
		margin-top: 3px;
		font-weight: 200;
		font-size: 48px;
		width: 90px;
	}
	#date-month {
		display: inline-block;
		white-space: nowrap;
		margin-top: -7px;
		font-weight: 600;
		font-size: 14px;
	}
	#line-canvas {
		-webkit-transition: height .3s ease-out;
		transition: height .3s ease-out;

		width: 502px; height: 154px;
		margin-left: -251px;
		position: absolute;
		bottom: 3px;
		z-index: 4;
		left: 50%;
	}

	#map {
		width: 100%; height: 100%;
		background: #fcfcfc;
		position: absolute;
		top: 0; left: 0;
		z-index: 1;

		-webkit-transition: opacity .5s;
		transition: opacity .5s;
	}

	#zoom-control {
		width: 70px; height: 150px;
		right: 5.75vw; top: 50%;
		position: absolute;
		margin-top: -75px;
		z-index: 5;
	}

	#zoom-control a span { display: none; }
	#zoom-control a {
		border-bottom: 1px solid transparent;
		background-repeat: no-repeat;
		background-position: center;
		width: 50px; height: 50px;
		background-color: #ffffff;
		display: inline-block;
		vertical-align: middle;
		text-align: center;

		-webkit-transition: width .1s, height .1s;
		transition: width .1s, height .1s;

		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;

		-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
	}
	#zoom-in { background-image: url( '../images/plus.png' ); }
	#zoom-out { background-image: url( '../images/minus.png' ); }

	#zoom-control a:hover {
		border-bottom: 1px solid #cccccc;
		width: 70px; height: 68px;
		background-color: #ffffff;
	}
	#zoom-control div:first-child { margin-bottom: 10px; }
	#zoom-control div {
		height: 70px; width: 70px;
		text-align: center;
		line-height: 70px;
	}
	.leaflet-control-attribution { display: none; }

	#view {
		height: 49px;
		right: 0; bottom: -79px;
		padding-right: 5.75vw;
		position: absolute;
		font-size: 0;
		z-index: 5;
	}
	#view div {
		width: 200px; height: 30px;
		background: #ffffff;
		margin-left: 20px;
		text-align: left;

		-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.07);
	}
	#view a {
		font-family: 'Open Sans', sans-serif;
		width: 99px; height: 30px;
		text-decoration: none;
		display: inline-block;
		position: relative;
		text-align: center;
		line-height: 30px;
		font-weight: 400;
		font-size: 13px;
		color: #818181;
	}
	#cdc {
		border-right: 1px solid #eaeaea;
		width: 100px;
	}
	#view.twitter #twitter, #view.cdc #cdc { color: #666666; }

	#view.twitter #twitter:before,
	#view.cdc #cdc:before {
		width: 100%; height: 1px;
		background: #F52C3E;
		position: absolute;
		left: 0; top: 0px;
		display: block;
		font-size: 0;
		content: '';
	}

	@media only screen and (min-width: 1390px) {
		#container { margin: 0; }
		#view { padding-right: 80px; }
		##info-contaier { left: 80px; }
		#zoom-control { right: 80px; }
		#centered { padding: 36px 0 37px 0; width: 1290px; }
		#menu li { margin-left: 50px; padding-bottom: 46px; }
		#back-to-map { margin: 16px 0 17px 0; }
	}

	/* ------------------ LEAFLET ------------------ */

	/* required styles */

	.leaflet-map-pane,
	.leaflet-tile,
	.leaflet-marker-icon,
	.leaflet-marker-shadow,
	.leaflet-tile-pane,
	.leaflet-tile-container,
	.leaflet-overlay-pane,
	.leaflet-shadow-pane,
	.leaflet-marker-pane,
	.leaflet-popup-pane,
	.leaflet-overlay-pane svg,
	.leaflet-zoom-box,
	.leaflet-image-layer,
	.leaflet-layer {
		position: absolute;
		left: 0;
		top: 0;
		}
	.leaflet-container {
		overflow: hidden;
		-ms-touch-action: none;
		touch-action: none;
		}
	.leaflet-tile,
	.leaflet-marker-icon,
	.leaflet-marker-shadow {
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
		-webkit-user-drag: none;
		}
	.leaflet-marker-icon,
	.leaflet-marker-shadow {
		display: block;
		}
	/* map is broken in FF if you have max-width: 100% on tiles */
	.leaflet-container img {
		max-width: none !important;
		}
	/* stupid Android 2 doesn't understand "max-width: none" properly */
	.leaflet-container img.leaflet-image-layer {
		max-width: 15000px !important;
		}
	.leaflet-tile {
		filter: inherit;
		visibility: hidden;
		}
	.leaflet-tile-loaded {
		visibility: inherit;
		}
	.leaflet-zoom-box {
		width: 0;
		height: 0;
		}
	/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
	.leaflet-overlay-pane svg {
		-moz-user-select: none;
		}

	.leaflet-tile-pane    { z-index: 2; }
	.leaflet-objects-pane { z-index: 3; }
	.leaflet-overlay-pane { z-index: 4; }
	.leaflet-shadow-pane  { z-index: 5; }
	.leaflet-marker-pane  { z-index: 6; }
	.leaflet-popup-pane   { z-index: 7; }

	.leaflet-vml-shape {
		width: 1px;
		height: 1px;
		}
	.lvml {
		behavior: url(#default#VML);
		display: inline-block;
		position: absolute;
		}


	/* control positioning */

	.leaflet-control {
		position: relative;
		z-index: 7;
		pointer-events: auto;
		}
	.leaflet-top,
	.leaflet-bottom {
		position: absolute;
		z-index: 1000;
		pointer-events: none;
		}
	.leaflet-top {
		top: 0;
		}
	.leaflet-right {
		right: 0;
		}
	.leaflet-bottom {
		bottom: 0;
		}
	.leaflet-left {
		left: 0;
		}
	.leaflet-control {
		float: left;
		clear: both;
		}
	.leaflet-right .leaflet-control {
		float: right;
		}
	.leaflet-top .leaflet-control {
		margin-top: 10px;
		}
	.leaflet-bottom .leaflet-control {
		margin-bottom: 10px;
		}
	.leaflet-left .leaflet-control {
		margin-left: 10px;
		}
	.leaflet-right .leaflet-control {
		margin-right: 10px;
		}


	/* zoom and fade animations */

	.leaflet-fade-anim .leaflet-tile,
	.leaflet-fade-anim .leaflet-popup {
		opacity: 0;
		-webkit-transition: opacity 0.2s linear;
		   -moz-transition: opacity 0.2s linear;
			 -o-transition: opacity 0.2s linear;
				transition: opacity 0.2s linear;
		}
	.leaflet-fade-anim .leaflet-tile-loaded,
	.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
		opacity: 1;
		}

	.leaflet-zoom-anim .leaflet-zoom-animated {
		-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
		   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
			 -o-transition:      -o-transform 0.25s cubic-bezier(0,0,0.25,1);
				transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
		}
	.leaflet-zoom-anim .leaflet-tile,
	.leaflet-pan-anim .leaflet-tile,
	.leaflet-touching .leaflet-zoom-animated {
		-webkit-transition: none;
		   -moz-transition: none;
			 -o-transition: none;
				transition: none;
		}

	.leaflet-zoom-anim .leaflet-zoom-hide {
		visibility: hidden;
		}


	/* cursors */

	.leaflet-clickable {
		cursor: pointer;
		}
	.leaflet-container {
		cursor: -webkit-grab;
		cursor:    -moz-grab;
		}
	.leaflet-popup-pane,
	.leaflet-control {
		cursor: auto;
		}
	.leaflet-dragging .leaflet-container,
	.leaflet-dragging .leaflet-clickable {
		cursor: move;
		cursor: -webkit-grabbing;
		cursor:    -moz-grabbing;
		}


	/* visual tweaks */

	.leaflet-container {
		background: #ddd;
		outline: 0;
		}
	.leaflet-container a {
		color: #0078A8;
		}
	.leaflet-container a.leaflet-active {
		outline: 2px solid orange;
		}
	.leaflet-zoom-box {
		border: 2px dotted #38f;
		background: rgba(255,255,255,0.5);
		}


	/* general typography */
	.leaflet-container {
		font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
		}


	/* general toolbar styles */

	.leaflet-bar {
		box-shadow: 0 1px 5px rgba(0,0,0,0.65);
		border-radius: 4px;
		}
	.leaflet-bar a,
	.leaflet-bar a:hover {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		width: 26px;
		height: 26px;
		line-height: 26px;
		display: block;
		text-align: center;
		text-decoration: none;
		color: black;
		}
	.leaflet-bar a,
	.leaflet-control-layers-toggle {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: block;
		}
	.leaflet-bar a:hover {
		background-color: #f4f4f4;
		}
	.leaflet-bar a:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		}
	.leaflet-bar a:last-child {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom: none;
		}
	.leaflet-bar a.leaflet-disabled {
		cursor: default;
		background-color: #f4f4f4;
		color: #bbb;
		}

	.leaflet-touch .leaflet-bar a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		}


	/* zoom control */

	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out {
		font: bold 18px 'Lucida Console', Monaco, monospace;
		text-indent: 1px;
		}
	.leaflet-control-zoom-out {
		font-size: 20px;
		}

	.leaflet-touch .leaflet-control-zoom-in {
		font-size: 22px;
		}
	.leaflet-touch .leaflet-control-zoom-out {
		font-size: 24px;
		}


	/* layers control */

	.leaflet-control-layers {
		box-shadow: 0 1px 5px rgba(0,0,0,0.4);
		background: #fff;
		border-radius: 5px;
		}
	.leaflet-control-layers-toggle {
		background-image: url(images/layers.png);
		width: 36px;
		height: 36px;
		}
	.leaflet-retina .leaflet-control-layers-toggle {
		background-image: url(images/layers-2x.png);
		background-size: 26px 26px;
		}
	.leaflet-touch .leaflet-control-layers-toggle {
		width: 44px;
		height: 44px;
		}
	.leaflet-control-layers .leaflet-control-layers-list,
	.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
		display: none;
		}
	.leaflet-control-layers-expanded .leaflet-control-layers-list {
		display: block;
		position: relative;
		}
	.leaflet-control-layers-expanded {
		padding: 6px 10px 6px 6px;
		color: #333;
		background: #fff;
		}
	.leaflet-control-layers-selector {
		margin-top: 2px;
		position: relative;
		top: 1px;
		}
	.leaflet-control-layers label {
		display: block;
		}
	.leaflet-control-layers-separator {
		height: 0;
		border-top: 1px solid #ddd;
		margin: 5px -10px 5px -6px;
		}


	/* attribution and scale controls */

	.leaflet-container .leaflet-control-attribution {
		background: #fff;
		background: rgba(255, 255, 255, 0.7);
		margin: 0;
		}
	.leaflet-control-attribution,
	.leaflet-control-scale-line {
		padding: 0 5px;
		color: #333;
		}
	.leaflet-control-attribution a {
		text-decoration: none;
		}
	.leaflet-control-attribution a:hover {
		text-decoration: underline;
		}
	.leaflet-container .leaflet-control-attribution,
	.leaflet-container .leaflet-control-scale {
		font-size: 11px;
		}
	.leaflet-left .leaflet-control-scale {
		margin-left: 5px;
		}
	.leaflet-bottom .leaflet-control-scale {
		margin-bottom: 5px;
		}
	.leaflet-control-scale-line {
		border: 2px solid #777;
		border-top: none;
		line-height: 1.1;
		padding: 2px 5px 1px;
		font-size: 11px;
		white-space: nowrap;
		overflow: hidden;
		-moz-box-sizing: content-box;
			 box-sizing: content-box;

		background: #fff;
		background: rgba(255, 255, 255, 0.5);
		}
	.leaflet-control-scale-line:not(:first-child) {
		border-top: 2px solid #777;
		border-bottom: none;
		margin-top: -2px;
		}
	.leaflet-control-scale-line:not(:first-child):not(:last-child) {
		border-bottom: 2px solid #777;
		}

	.leaflet-touch .leaflet-control-attribution,
	.leaflet-touch .leaflet-control-layers,
	.leaflet-touch .leaflet-bar {
		box-shadow: none;
		}
	.leaflet-touch .leaflet-control-layers,
	.leaflet-touch .leaflet-bar {
		border: 2px solid rgba(0,0,0,0.2);
		background-clip: padding-box;
		}


	/* popup */

	.leaflet-popup {
		position: absolute;
		text-align: center;
		}
	.leaflet-popup-content-wrapper {
		padding: 1px;
		text-align: left;
		border-radius: 12px;
		}
	.leaflet-popup-content {
		margin: 13px 19px;
		line-height: 1.4;
		}
	.leaflet-popup-content p {
		margin: 18px 0;
		}
	.leaflet-popup-tip-container {
		margin: 0 auto;
		width: 40px;
		height: 20px;
		position: relative;
		overflow: hidden;
		}
	.leaflet-popup-tip {
		width: 17px;
		height: 17px;
		padding: 1px;

		margin: -10px auto 0;

		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
				transform: rotate(45deg);
		}
	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		background: white;

		box-shadow: 0 3px 14px rgba(0,0,0,0.4);
		}
	.leaflet-container a.leaflet-popup-close-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 4px 4px 0 0;
		text-align: center;
		width: 18px;
		height: 14px;
		font: 16px/14px Tahoma, Verdana, sans-serif;
		color: #c3c3c3;
		text-decoration: none;
		font-weight: bold;
		background: transparent;
		}
	.leaflet-container a.leaflet-popup-close-button:hover {
		color: #999;
		}
	.leaflet-popup-scrolled {
		overflow: auto;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		}

	.leaflet-oldie .leaflet-popup-content-wrapper {
		zoom: 1;
		}
	.leaflet-oldie .leaflet-popup-tip {
		width: 24px;
		margin: 0 auto;

		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
		filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
		}
	.leaflet-oldie .leaflet-popup-tip-container {
		margin-top: -1px;
		}

	.leaflet-oldie .leaflet-control-zoom,
	.leaflet-oldie .leaflet-control-layers,
	.leaflet-oldie .leaflet-popup-content-wrapper,
	.leaflet-oldie .leaflet-popup-tip {
		border: 1px solid #999;
		}


	/* div icon */

	.leaflet-div-icon {
		background: #fff;
		border: 1px solid #666;
		}